<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480318082969-n1bjg203rerkp67gsfrhfhabr8q49nht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480318082969-n1bjg203rerkp67gsfrhfhabr8q49nht</string>
	<key>API_KEY</key>
	<string>AIzaSyAwtWTh1o6hUO9PtkjU4_POmn-T66sJjB4</string>
	<key>GCM_SENDER_ID</key>
	<string>480318082969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytrip</string>
	<key>PROJECT_ID</key>
	<string>my-trip-df02c</string>
	<key>STORAGE_BUCKET</key>
	<string>my-trip-df02c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480318082969:ios:86d70eaf9ab4d051a48d08</string>
</dict>
</plist>